<launch>

  <arg name="debug" default="false"/>
  <arg name="run_rviz" default="true" />
  <arg name="gui" default="false" />

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find renbo_whole_body_plan)/launch/planning_context_whole_body.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)"/>
  </node>

  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 odom_combined r_sole 0" />

  <include if="$(arg run_rviz)" file="$(find renbo_whole_body_plan)/launch/moveit_rviz.launch">
    <arg name="config" value="true" />
  </include>

  <node name="whole_body_plan" pkg="renbo_whole_body_plan" type="planning_node" cwd="node" output="screen">
    <rosparam command="load" file="$(find renbo_whole_body_plan)/config/planning_parameters.yaml"/>
    <param name="file_path_DS_database" value="$(find renbo_whole_body_plan)/database/ds_dataset.dat" />
  </node>

</launch>
